<p><em>{{ uuid }}</em></p>
<p>
{% if orcid is not none %}
<a
 href="{{ url }}"
 target="_blank"
 tabindex="-1"
>{{ title }}</a>
{% else %}
<strong>{{ title }}</strong>
{% endif %}
</p>

<ul>
<li>
rank:
<strong>{{ rank }}</strong>
</li>
{% if orcid is not none %}
<li>
orcid:
<strong>
<a
 href="https://orcid.org/{{ orcid }}"
 target="_blank"
 tabindex="-1"
>{{ orcid }}</a></strong>
</li>
{% endif %}
</ul>

<p>publications:</p>
<ul>
{% for publ in publ_list %}
<li><a
 href="#"
 onclick="get_links({{ publ[0] }})"
 tabindex="-1"
>{{ publ[1] }}</a></li>
{% endfor %}
</ul>
