<p><em>{{ uuid }}</em></p>
<p>
{% if url is not none %}
<a
 href="{{ url }}"
 target="_blank"
 tabindex="-1"
>{{ title }}</a>
{% else %}
<strong>{{ title }}</strong>
{% endif %}
</p>

<ul>
<li>
rank:
<strong>{{ rank }}</strong>
</li>
{% if ror is not none %}
<li>
ror:
<strong>
<a
 href="https://ror.org/{{ ror }}"
 target="_blank"
 tabindex="-1"
>{{ ror }}</a></strong>
</li>
{% endif %}
</ul>

<p>datasets:</p>
<ul>
{% for data in data_list %}
<li><a
 href="#"
 onclick="get_links({{ data[0] }})"
 tabindex="-1"
>{{ data[1] }}</a></li>
{% endfor %}
</ul>
