<p><em>{{ uuid }}</em></p>
<p>
{% if url is not none %}
<a
 href="{{ url }}"
 target="_blank"
>{{ title }}</a>
{% else %}
<strong>{{ title }}</strong>
{% endif %}
</p>

{% if journal is not none %}
<p>
<em><a
 href="#"
 onclick="get_links({{ journal[0] }})"
>{{ journal[1] }}</a></em>
</p>
{% endif %}

<ul>
<li>
rank:
<strong>{{ rank }}</strong>
</li>
{% if doi is not none %}
<li>
doi:
<strong>{{ doi }}</strong>
</li>
{% endif %}
{% if pdf is not none %}
<li>
open access:
<a
 href="{{ pdf }}"
 target="_blank"
>{{ pdf }}</a>
</li>
{% endif %}
</ul>

<p>authors:</p>
<ul>
{% for auth in auth_list %}
{% if loop.first %}
<li style="list-style:none; margin-left:-1.4em;">&starf;
{% else %}
<li>
{% endif %}
<a
 href="#"
 onclick="get_links({{ auth[0] }})"
>{{ auth[1] }}</a></li>
{% endfor %}
</ul>

<p>datasets:</p>
<ul>
{% for data in data_list %}
<li><a
 href="#"
 onclick="get_links({{ data[0] }})"
>{{ data[1] }}</a></li>
{% endfor %}
</ul>
