<!DOCTYPE html>
<html lang="en">
<head>
 <title>Rich Context: Configuration Settings</title>
 {% include "meta.html" %}
 <style>
 {% include "style.css" %}
 </style>
</head>

<body>
<div id="content" class="pure-g">

  <div id="conf" class="pure-u-1 pure-u-md-4-4">
    <p>
    <em>
Configuration settings for Rich Context
    </em>
    </p>
    <p>
<em>(under construction)</em>
    </p>
    {% include "settings.html" %}
    <hr/>
  </div>
    {% include "footer.html" %}
  </div>
</div>

<script>
{% include "script.js" %}
</script>

</body>
</html>
