<!DOCTYPE html>
<html lang="en">
<head>
 <title>Rich Context: Feedback Form</title>
 {% include "meta.html" %}
 <style>
 {% include "style.css" %}
 </style>
</head>

<body>
<div id="content" class="pure-g">

  <div id="hitl" class="pure-u-1 pure-u-md-4-4">
    <p>
    <em>
A human-in-the-loop platform for collecting expert feedback to add or
correct linked data in the Rich Context knowledge graph
    </em>
    </p>
    {% include "feedback.html" %}
    <hr/>
  </div>
    {% include "footer.html" %}
  </div>
</div>

<script>
{% include "script.js" %}
</script>

</body>
</html>
