<div class="inspect">

<h3>Publications:</h3>
<div id="inspect-publications">
<ul>
<li>
"Will metasyntactic variables literally just can't even, like ever?"
</li>
</ul>
</div>

<h3>Authors:</h3>
<div id="inspect-authors">
<ul>
<li>
Mathison, Franny
</li>
<li>
Everdeen, Katniss
</li>
<li>
Finch, Jean Louise
</li>
</ul>
</div>

<h3>Journals:</h3>
<div id="inspect-journals">
<ul>
<li>
J Gene Obsti Foo
</li>
</ul>
</div>

<h3>Datasets:</h3>
<div id="inspect-datasets">
<ul>
<li>
Non-Official Cover List
</li>
</ul>
</div>

<h3>Providers:</h3>
<div id="inspect-providers">
<ul>
<li>
US Dept of Foo
</li>
</ul>
</div>

</div>
