<div
 style="background-color: red; padding: 1em;"
>
<h3>Providers:</h3>
<p>
US Dept of Foo
</p>
</div>

<div
 style="background-color: red; padding: 1em;"
>
<h3>Datasets:</h3>
<p>
Non-Official Cover List
</p>
</div>

<div
 style="background-color: red; padding: 1em;"
>
<h3>Journals:</h3>
<p>
J Gene Obsti Foo
</p>
</div>

<div
 style="background-color: red; padding: 1em;"
>
<h3>Publications:</h3>
<p>
"Will metasyntactic variables literally just can't even, like ever?"
</p>
</div>

<div
 style="background-color: red; padding: 1em;"
>
<h3>Authors:</h3>
<p>
Mathison, Franny
</p>
<p>
Everdeen, Katniss
</p>
<p>
Finch, Jean Louise
</p>
</div>
