 <meta charset="utf-8">
 <meta
  name="viewport"
  content="width=device-width, initial-scale=1"
 >
 <meta
  name="keywords"
  content="rich context, evidence-based policymaking, knowledge graph, automated data inventory"
 >
 <meta http-equiv="X-UA-Compatible" content="IE=edge">

 <link
  rel="icon"
  type="image/png"
  href="/static/favicon.png"
  sizes="any"
 />
 <link
  rel="shortcut icon"
  type="image/png"
  href="/static/favicon.png"
  sizes="any"
 />

 <link
  rel="stylesheet"
  type="text/css"
  href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
  integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47"
  crossorigin="anonymous"
 />
 <link
  rel="stylesheet"
  type="text/css"
  href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css"
 /> 
 <link
  rel="stylesheet"
  type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css"
 />

 <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis-network.min.js"
 ></script>
