 <meta charset="utf-8">
 <meta
  name="viewport"
  content="width=device-width, initial-scale=1"
 >
 <meta
  name="keywords"
  content="coleridge initiative, rich context, evidence-based policymaking, knowledge graph, automated data inventory"
 >
 <meta http-equiv="X-UA-Compatible" content="IE=edge">

 <link
  rel="icon"
  type="image/png"
  href="/static/favicon.png"
  sizes="any"
 />
 <link
  rel="shortcut icon"
  type="image/png"
  href="/static/favicon.png"
  sizes="any"
 />

 <link
  rel="stylesheet"
  type="text/css"
  href="/css/pure-min.css"
 />
 <link
  rel="stylesheet"
  type="text/css"
  href="/css/grids-responsive-min.css"
 /> 
