<div class="neighbor">
<br/>

<button
 type="button"
 class="collapsible"
 style="margin-block-start: 0;"
>datasets</button>
<div
 id="neighbor-data"
 class="collapsible_content"
>
<ul>
<li>
<em>neighboring datasets</em>
</li>
</ul>
</div>

<button
 type="button"
 class="collapsible"
>providers</button>
<div
 id="neighbor-prov"
 class="collapsible_content"
>
<ul>
<li>
<em>neighboring providers</em>
</li>
</ul>
</div>

<button
 type="button"
 class="collapsible"
>publications</button>
<div
 id="neighbor-publ"
 class="collapsible_content"
>
<ul>
<li>
<em>neighboring publications</em>
</li>
</ul>
</div>

<button
 type="button"
 class="collapsible"
>authors</button>
<div
 id="neighbor-auth"
 class="collapsible_content"
>
<ul>
<li>
<em>neighboring authors</em>
</li>
</ul>
</div>

<button
 type="button"
 class="collapsible"
>journals</button>
<div
 id="neighbor-jour"
 class="collapsible_content"
>
<ul>
<li>
<em>neighboring journals</em>
</ul>
</div>

<button
 type="button"
 class="collapsible"
>topics</button>
<div
 id="neighbor-topi"
 class="collapsible_content"
>
<ul>
<li>
<em>neighboring topics</em>
</ul>
</div>

</div>
