<div class="neighbor">

<h3>Publications:</h3>
<div id="neighbor-publications">
<ul>
<li>
<a href="#"
>Will metasyntactic variables literally just can't even, like ever?</a>
</li>
</ul>
</div>

<h3>Authors:</h3>
<div id="neighbor-authors">
<ul>
<li>
<a href="#"
>Mathison, Franny</a>
</li>
<li>
<a href="#"
>Everdeen, Katniss</a>
</li>
<li>
<a href="#"
>Finch, Jean Louise</a>
</li>
</ul>
</div>

<h3>Journals:</h3>
<div id="neighbor-journals">
<ul>
<li>
<a href="#"
>J Gene Obsti Foo</a>
</li>
</ul>
</div>

<h3>Datasets:</h3>
<div id="neighbor-datasets">
<ul>
<li>
<a href="#"
>Non-Official Cover List</a>
</li>
</ul>
</div>

<h3>Providers:</h3>
<div id="neighbor-providers">
<ul>
<li>
<a href="#"
>US Dept of Foo</a>
</li>
</ul>
</div>

</div>
