<form
 id="query"
 class="pure-form"
 autocomplete="off"
>
<fieldset>
<table>
  <tr>
    <td style="width:25em;">
<div class="autocomplete" style="width:24em;">
<input
 name="entity"
 class="search"
 type="text"
 placeholder="search..."
 title="graph entity to use as the focus of a search"
 onclick="document.execCommand('selectall', null, false);"
/>
</div>
    </td>
    <td style="width:3.75em;">
<strong>
<label for="radius">radius:</label>
</strong>
    </td>
    <td style="width:2.5em;">
<input
 name="radius"
 type="text"
 value="2"
 style="width:2em;"
 title="radius of the graph neighborhood to search"
 onclick="document.execCommand('selectall', null, false);"
/>
    </td>
    <td style="width:4em;">
<input
 type="image"
 alt="query"
 src="/magnify.svg"
 style="width:1.5em; height:1.5em; padding:.2em; border:1px solid gray; border-radius:10px; margin-left:1em;"
 onclick="run_query_form();"
 title="click to submit query"
/>
    </td>
  </tr>
</table>
</fieldset>
</form>
