html, body {
	height: 100vh;
}

body {
	/* design-only: background-color: hsl(195, 100%, 98%); */
}

#content {
	min-height: 100vh;
}


#query {
	padding: 1em;
	height: 3em;
}


.neighbor {
	background-color: rgb(245, 245, 245);
	border: 1px solid #ccc;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	min-height: 100vh;
	overflow-y: auto;
}

.neighbor h3 {
	font-size: 1em;
	padding-top: 0;
	padding-bottom: 0;
	margin-block-start: 0.4em;
	margin-block-end: 0.2em;
}

.neighbor div {
	max-height: 9em;
	min-height: 1em;
	overflow-y: auto;
}

.neighbor div ul {
	margin: 0;
}

.neighbor div ul li {
	font-size: 0.9em;
	padding-bottom: 0.4em;
}


#viewer_menu {
	padding: .1em;
	height: 2em;
}

#viewer {
	/* design-only: background-color: hsl(49, 100%, 98%); */
	padding: 1em;
	height: 73vh;
	margin-bottom: -3em;
}

#viewer div.tabcontent {
	/* design-only: border: 1px solid #ccc; */
	height: 69vh;
	display: none;
	padding: 0;
}

#viewer div#view_links {
	overflow-y: auto;
}

#viewer div#view_links ul li {
	font-size: 0.9em;
	padding-bottom: 0.4em;
}

#view_graph iframe {
	padding: 0;
	height: 100%;
	width: 100%;
	border: none;
}


#hitl {
	padding: 2em;
}

#work {
	padding: 2em;
}

#conf {
	padding: 2em;
}


#footer {
	font-size: .75em;
	text-align: center;
	padding: .5em;
	height: 2em;
}


a:link {
	color: blue;
	background-color: transparent;
	text-decoration: none;
	font-weight: bold;
}

a:visited {
	color: blue;
	background-color: transparent;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: red;
	background-color: transparent;
	text-decoration: underline;
	font-weight: bold;
}

a:active {
	color: blue;
	background-color: transparent;
	text-decoration: underline;
	font-weight: bold;
}


/* autocomplete container must be positioned relative: */
.autocomplete {
	position: relative;
	display: inline-block;
}

input.search {
	border: 1px solid transparent;
	background-color: #f1f1f1;
	padding: .5em;
	font-size: 16px;
}

input.search[type=text] {
	background-color: #f1f1f1;
	width: 100%;
}

input.search[type=submit] {
	background-color: DodgerBlue;
	color: #fff;
	cursor: pointer;
}

/* position the autocomplete items to be the same width as the container: */
.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff; 
	border-bottom: 1px solid #d4d4d4; 
}

/* when hovering over an item */
.autocomplete-items div:hover {
	background-color: #e9e9e9; 
}

/* when navigating through items using arrow keys */
.autocomplete-active {
	background-color: DodgerBlue !important; 
	color: #ffffff; 
}
