html, body {
	min-height: 100%;
}

body {
	background-color: hsl(195, 100%, 98%);
}

#content {
	min-height: 100%;
	height: auto !important; /*min-height hack*/
	height: 100%;            /*min-height hack*/
}

.inspect {
	background-color: hsl(333, 100%, 98%);
	border: 1px;
	padding: 1em;
	min-height: 100%;
	height: auto !important; /*min-height hack*/
	height: 100%;            /*min-height hack*/
}

#viewer {
	background-color: hsl(49, 100%, 98%);
	padding: 1em;
	min-height: 95%;
	height: auto !important; /*min-height hack*/
	height: 95%;            /*min-height hack*/
}

#footer {
	padding: 1em;
}
