<div id="viewer_menu" class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
      <a href="#" class="pure-menu-link" onclick="open_view('view_graph')">Network</a>
    </li>
    <li class="pure-menu-item">
      <a href="#" class="pure-menu-link" onclick="open_view('view_links')">Links</a>
    </li>
  </ul>
</div>

<div id="viewer">
  <div id="view_graph" class="tabcontent">
    <p>View a neighborhood within the knowledge graph.</p>
  </div>
  <div id="view_links" class="tabcontent">
    <p>View links for an entity in the knowledge graph.</p>
  </div>
</div>
