<div id="viewer_menu" class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
    <li id="tab_view_graph" class="pure-menu-item pure-menu-selected">
      <a href="#" class="pure-menu-link" onclick="open_view('view_graph')">Network</a>
    </li>
    <li id="tab_view_links" class="pure-menu-item">
      <a href="#" class="pure-menu-link" onclick="open_view('view_links')">Links</a>
    </li>
  </ul>
</div>

<div id="viewer">
  <div id="view_graph" class="tabcontent">
    <div id="mynetwork"></div>
    <div id="config"></div>
    <div id="view_graph_script"></div>
  </div>

  <div id="view_links" class="tabcontent">
    <p>View links for an entity in the knowledge graph.</p>
  </div>
</div>
