<!DOCTYPE html>
<html lang="en">
<head>
 <title>Rich Context: Research Workbench</title>
 {% include "meta.html" %}
 <style>
 {% include "style.css" %}
 </style>
</head>

<body>
<div id="content" class="pure-g">

  <div id="work" class="pure-u-1 pure-u-md-4-4">
    <p>
research workbench, using federated searches across many discovery
service APIs for scholarly infrastructure
    </p>
    <p>
<em>(under construction)</em>
    </p>
  </div>
    {% include "footer.html" %}
  </div>
</div>

<script>
{% include "script.js" %}
</script>

</body>
</html>
